.banner {
  padding: 80px 2rem;
  background: rgba(13, 46, 58, 0.9);
  margin-top: 50px;

  &--text {
    font-size: 1.7rem;
    width: 500px;
  }

  &--btn {
    font-size: 1.8rem;
  }
}

@media (max-width: 610px) {
  .banner {
    &--text {
      width: 90%;
    }
  }
}
