.cart-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
  cursor: pointer;

  &-container {
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }

  &-container-hide,
  &-container-show {
    height: 100%;
  }

  &-container-hide {
    background-color: transparent;
  }

  &-container-show {
    background-color: rgb(230, 234, 238);
    overflow-y: scroll;

    &-header {
      background-color: white;
      padding: 35px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 2px 4px 5px 0.1px gainsboro;

      .fa {
        font-size: 3rem;
        cursor: pointer;
      }
    }

    .btn {
      font-size: 1.7rem;
    }
  }

  &-card {
    background-color: white;
    width: 100%;
    display: flex;
    padding: 7% 0;
    min-height: 120px;
    max-height: fit-content;
    align-items: center;
    padding: 15px 10px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    img {
      width: 25%;
      height: auto;
    }

    &-details {
      width: 70%;
      margin-left: 4%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-name {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 500;
      }

      p {
        margin: 0;
        margin-top: 10px;
        font-size: 1.6rem;
        font-weight: bold;
        color: red;
      }
    }
  }
}

.cart-menu[display='hide'] {
  pointer-events: none;

  .cart-menu-container {
    transition: 1s;
    opacity: 0;
    visibility: hidden;
  }

  .cart-menu-container-show {
    transition: 1s;
    opacity: 0;
    transform: translateX(100%);
  }
}

@media only screen and (min-width: 768px) {
  .cart-menu {
    &-container-hide {
      width: calc(100% - 500px);
    }
    &-container-show {
      width: 500px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .cart-menu {
    &-container-hide {
      width: calc(100% - 400px);
    }
    &-container-show {
      width: 400px;
    }
  }
}

@media only screen and (max-width: 490px) {
  .cart-menu {
    &-container-hide {
      width: 50px;
    }
    &-container-show {
      width: calc(100% - 50px);
    }
  }
}
