.shop {
  margin-bottom: 100px;

  &--header {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}

.product {
  &--name {
    margin: 5px 0;
    font-size: 1.7rem;
    line-height: 22px;
    padding: 2px 5px;
    font-weight: bold;
  }

  &--description {
    font-size: 1.6rem;
    margin-bottom: 5px;
  }

  &--price {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2px 5px;
    color: orangered;
  }

  &--cart-btn {
    width: 100%;
    font-weight: 600;
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    text-decoration: none;

    &:hover {
      color: darken(red, 20%);
      text-decoration: none;
    }
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    column-gap: 35px;
    row-gap: 40px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    align-items: center;

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 2px 3px 5px 0.1px gainsboro;
      padding: 10px 5px;
      height: 420px;
      img {
        width: 90%;
        margin: 0 auto;
        height: 170px;
        object-fit: contain;
        display: block;
      }
    }
  }
}

@media (max-width: 600px) {
  .product {
    &--grid {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
