.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 20;
  background-color: rgba(13, 46, 58, 0.8);
}
.loading-screen p {
  font-size: 4rem;
}

.cart-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
  cursor: pointer;
}
.cart-menu-container {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.cart-menu-container-hide, .cart-menu-container-show {
  height: 100%;
}
.cart-menu-container-hide {
  background-color: transparent;
}
.cart-menu-container-show {
  background-color: #e6eaee;
  overflow-y: scroll;
}
.cart-menu-container-show-header {
  background-color: white;
  padding: 35px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 4px 5px 0.1px gainsboro;
}
.cart-menu-container-show-header .fa {
  font-size: 3rem;
  cursor: pointer;
}
.cart-menu-container-show .btn {
  font-size: 1.7rem;
}
.cart-menu-card {
  background-color: white;
  width: 100%;
  display: flex;
  padding: 7% 0;
  min-height: 120px;
  max-height: fit-content;
  align-items: center;
  padding: 15px 10px;
}
.cart-menu-card:not(:last-child) {
  margin-bottom: 10px;
}
.cart-menu-card img {
  width: 25%;
  height: auto;
}
.cart-menu-card-details {
  width: 70%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart-menu-card-details-name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.cart-menu-card-details p {
  margin: 0;
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  color: red;
}

.cart-menu[display=hide] {
  pointer-events: none;
}
.cart-menu[display=hide] .cart-menu-container {
  transition: 1s;
  opacity: 0;
  visibility: hidden;
}
.cart-menu[display=hide] .cart-menu-container-show {
  transition: 1s;
  opacity: 0;
  transform: translateX(100%);
}

.cart-menu[display=show] .cart-menu-container {
  transition: 1s;
  opacity: 1;
  visibility: visible;
}
.cart-menu[display=show] .cart-menu-container-show {
  transition: 1s;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cart-menu-container-hide {
    width: calc(100% - 500px);
  }
  .cart-menu-container-show {
    width: 500px;
  }
}
@media only screen and (max-width: 767px) {
  .cart-menu-container-hide {
    width: calc(100% - 400px);
  }
  .cart-menu-container-show {
    width: 400px;
  }
}
@media only screen and (max-width: 490px) {
  .cart-menu-container-hide {
    width: 50px;
  }
  .cart-menu-container-show {
    width: calc(100% - 50px);
  }
}
.header {
  max-width: 100%;
  position: fixed;
  top: 0;
  height: 85px;
  display: flex;
  z-index: 5;
  align-items: center;
}
.header--light {
  background: rgba(13, 46, 58, 0.5);
}
.header--dark {
  background: #0d2e3a;
}
.header nav {
  width: 100%;
  display: flex;
  flex: 1;
}
.header nav ul {
  width: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 5rem 1rem 1rem;
}
.header--item {
  display: inline-block;
}
.header--item .username {
  margin: 0;
  padding: 0;
}
.header--item .auth {
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.header--item .auth:hover {
  color: wheat !important;
}
.header--cart {
  position: relative;
}
.header--cart svg {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.header--cart .badge {
  position: absolute;
  top: 0;
  font-size: 1.1rem;
}
.header--link {
  font-size: 1.5rem;
}
.header--item:not(:last-child) {
  margin-right: 12px;
}
.header--logo {
  width: 80px;
  padding: 1rem;
}
.header--logo a {
  font-size: 1.7rem;
}

.hero {
  position: relative;
  top: -70px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, rgba(13, 46, 58, 0.7), rgba(13, 46, 58, 0.7)), url(../../assets/images/main-bg.jpg);
  height: 640px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.hero--body {
  padding: 0 10px;
  padding-top: 150px;
  width: 90%;
}
.hero--body h2 {
  width: 500px;
}
.hero--body p {
  font-size: 1.8rem;
  width: 400px;
}
.hero--body .btn {
  width: 120px;
  height: 40px;
  font-size: 1.8rem;
}

@media (max-width: 600px) {
  .hero--body h2.display-3 {
    width: 90%;
    font-size: 3.5rem;
  }
  .hero--body p {
    width: 85%;
  }
}
@media (max-width: 400px) {
  .hero--body h2.display-3 {
    font-size: 3rem;
  }
}
.categories-card {
  width: 90%;
  margin: 0 auto;
}
.categories-card .card {
  height: 300px;
}
.categories-card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

@media (max-width: 767px) {
  .categories-card {
    width: 90%;
    margin: 0 auto;
  }
  .categories-card .card:first-child {
    margin-bottom: 20px;
  }
  .categories-card .card:nth-child(2) {
    margin-bottom: 20px;
  }
}
.banner {
  padding: 80px 2rem;
  background: rgba(13, 46, 58, 0.9);
  margin-top: 50px;
}
.banner--text {
  font-size: 1.7rem;
  width: 500px;
}
.banner--btn {
  font-size: 1.8rem;
}

@media (max-width: 610px) {
  .banner--text {
    width: 90%;
  }
}
.footer {
  margin-bottom: 0;
  margin-top: 50px;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  flex: 1;
  padding: 50px 2rem;
}
.footer--navigation {
  text-align: left;
  flex-basis: 50%;
}
.footer--list {
  list-style: none;
}
.footer--item {
  display: inline-block;
  cursor: pointer;
}
.footer--item:not(:last-child) {
  margin-right: 1.4rem;
}
.footer--item:hover, .footer--item:active {
  padding: 0 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
  -webkit-transform: rotate(5deg) scale(1.3);
  -moz-transform: rotate(5deg) scale(1.3);
  -ms-transform: rotate(5deg) scale(1.3);
  -o-transform: rotate(5deg) scale(1.3);
}
.footer--copyright {
  text-align: right;
  flex-basis: 50%;
}

@media (max-width: 400px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer--navigation {
    text-align: center;
  }
}
.shop {
  position: relative;
  top: 80px;
  margin-bottom: 100px;
}
.shop--header {
  margin-top: 80px;
  margin-bottom: 40px;
}

.product--name {
  margin: 5px 0;
  font-size: 1.7rem;
  line-height: 22px;
  padding: 2px 5px;
  font-weight: bold;
}
.product--description {
  font-size: 1.6rem;
  margin-bottom: 5px;
}
.product--price {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 2px 5px;
  color: orangered;
}
.product--cart-btn {
  width: 100%;
  font-weight: 600;
  font-size: 1.5rem;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
.product--cart-btn:hover {
  color: #990000;
  text-decoration: none;
}
.product--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  column-gap: 35px;
  row-gap: 40px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
  align-items: center;
}
.product--grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 3px 5px 0.1px gainsboro;
  padding: 10px 5px;
  height: 420px;
}
.product--grid-item img {
  width: 90%;
  margin: 0 auto;
  height: 170px;
  object-fit: contain;
  display: block;
}

@media (max-width: 624px) {
  .product--grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.checkout {
  position: relative;
  top: 150px;
  width: 95%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px auto 0px;
  margin-bottom: 100px;
}
.checkout--title-heading {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  height: 40px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid darkcyan;
}
.checkout--title-heading > div {
  text-transform: capitalize;
  width: 25%;
  font-size: 13px;
  font-weight: bold;
}
.checkout--title-heading > div:last-child {
  width: 12%;
}
.checkout--item-row {
  width: 100%;
  display: flex;
  min-height: 100px;
  font-size: 20px;
  -webkit-box-align: center;
  align-items: center;
  text-align: right;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0px;
}
.checkout--item-row img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.checkout--item-row .checkout--item-qty-indicator {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}
.checkout--item-row .checkout--item-price {
  width: 25%;
  font-size: 15px;
}
.checkout--item-row .checkout--item-remove-button {
  width: 25%;
  padding-left: 12px;
  cursor: pointer;
}
.checkout .checkout--item-button-container {
  margin-top: 50px;
}

@media only screen and (min-width: 550px) {
  .checkout {
    width: 85%;
  }
  .checkout--title-heading > div {
    width: 25%;
    font-size: 16px;
  }
  .checkout--title-heading > div:last-child {
    width: 8%;
  }
  .checkout--item-row img {
    width: 23%;
  }
}
.authenticate {
  position: relative;
  top: 130px;
  margin-bottom: 100px;
}
.authenticate .form {
  flex: 1;
  padding: 10px 30px;
  width: 600px;
  margin: auto;
}
.authenticate .form-register {
  width: 100%;
  margin: auto;
  text-align: right;
}
.authenticate .form-register span {
  font-size: 1.3rem;
}
.authenticate .form-register span strong {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  color: orangered;
  font-weight: 600;
  cursor: pointer;
  z-index: 20;
  margin-left: 4px;
}
.authenticate .form-group {
  position: relative;
  width: 100%;
}
.authenticate .form-group label {
  position: relative;
  top: 15px;
  left: 10px;
  font-size: 1.8rem;
  font-weight: 600;
  background: #fff;
}
.authenticate .form-group input {
  width: 100%;
  padding: 15px 5px;
  border: 1px solid lightgray;
  font-size: 2rem;
}
.authenticate .form button {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background: rgba(13, 46, 58, 0.8);
  height: 50px;
  padding: 5px;
  border: none;
  border: 1px solid rgba(14, 46, 58, 0.5);
}
.authenticate .form button:hover {
  background: rgba(14, 46, 58, 0.6);
}
.authenticate .form button:focus {
  outline: none;
}
.authenticate .form button[disabled] {
  color: #c0c0c0;
  background-color: white;
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid #999999;
}
@media (max-width: 680px) {
  .authenticate .form {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .authenticate .form {
    width: 98%;
  }
  .authenticate .form .display-4 {
    font-size: 2.5rem;
  }
  .authenticate .form-register {
    text-align: center;
  }
}
.authenticate .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
